-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pestisit_proje
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `etken_maddeler`
--

DROP TABLE IF EXISTS `etken_maddeler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `etken_maddeler` (
  `madde_id` int(11) NOT NULL AUTO_INCREMENT,
  `kategori_id` int(11) NOT NULL,
  `madde_adi` varchar(100) NOT NULL,
  `molekuler_formul` varchar(100) DEFAULT NULL,
  `kimyasal_grup` varchar(150) DEFAULT NULL,
  `genel_bilgi` text DEFAULT NULL,
  PRIMARY KEY (`madde_id`),
  UNIQUE KEY `madde_adi` (`madde_adi`),
  KEY `kategori_id` (`kategori_id`),
  CONSTRAINT `etken_maddeler_ibfk_1` FOREIGN KEY (`kategori_id`) REFERENCES `kategoriler` (`kategori_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etken_maddeler`
--

LOCK TABLES `etken_maddeler` WRITE;
/*!40000 ALTER TABLE `etken_maddeler` DISABLE KEYS */;
/*!40000 ALTER TABLE `etken_maddeler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etki_mekanizmalari`
--

DROP TABLE IF EXISTS `etki_mekanizmalari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `etki_mekanizmalari` (
  `mekanizma_id` int(11) NOT NULL AUTO_INCREMENT,
  `madde_id` int(11) NOT NULL,
  `mekanizma_tanimi` text NOT NULL,
  PRIMARY KEY (`mekanizma_id`),
  KEY `madde_id` (`madde_id`),
  CONSTRAINT `etki_mekanizmalari_ibfk_1` FOREIGN KEY (`madde_id`) REFERENCES `etken_maddeler` (`madde_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etki_mekanizmalari`
--

LOCK TABLES `etki_mekanizmalari` WRITE;
/*!40000 ALTER TABLE `etki_mekanizmalari` DISABLE KEYS */;
/*!40000 ALTER TABLE `etki_mekanizmalari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hedef_hastaliklar_zararlilar`
--

DROP TABLE IF EXISTS `hedef_hastaliklar_zararlilar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hedef_hastaliklar_zararlilar` (
  `hastalik_id` int(11) NOT NULL AUTO_INCREMENT,
  `madde_id` int(11) NOT NULL,
  `hastalik_zararli_adi` varchar(255) NOT NULL,
  PRIMARY KEY (`hastalik_id`),
  KEY `madde_id` (`madde_id`),
  CONSTRAINT `hedef_hastaliklar_zararlilar_ibfk_1` FOREIGN KEY (`madde_id`) REFERENCES `etken_maddeler` (`madde_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hedef_hastaliklar_zararlilar`
--

LOCK TABLES `hedef_hastaliklar_zararlilar` WRITE;
/*!40000 ALTER TABLE `hedef_hastaliklar_zararlilar` DISABLE KEYS */;
/*!40000 ALTER TABLE `hedef_hastaliklar_zararlilar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategoriler`
--

DROP TABLE IF EXISTS `kategoriler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategoriler` (
  `kategori_id` int(11) NOT NULL AUTO_INCREMENT,
  `kategori_adi` varchar(100) NOT NULL,
  PRIMARY KEY (`kategori_id`),
  UNIQUE KEY `kategori_adi` (`kategori_adi`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategoriler`
--

LOCK TABLES `kategoriler` WRITE;
/*!40000 ALTER TABLE `kategoriler` DISABLE KEYS */;
INSERT INTO `kategoriler` VALUES (3,'Bakteri ─░la├ºlar─▒ (Bakterisitler)'),(1,'Mantar ─░la├ºlar─▒ (Fungisitler)'),(2,'Nematod ─░la├ºlar─▒ (Nematisitler)');
/*!40000 ALTER TABLE `kategoriler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kullanim_alanlari`
--

DROP TABLE IF EXISTS `kullanim_alanlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kullanim_alanlari` (
  `alan_id` int(11) NOT NULL AUTO_INCREMENT,
  `madde_id` int(11) NOT NULL,
  `alan_tanimi` text NOT NULL,
  PRIMARY KEY (`alan_id`),
  KEY `madde_id` (`madde_id`),
  CONSTRAINT `kullanim_alanlari_ibfk_1` FOREIGN KEY (`madde_id`) REFERENCES `etken_maddeler` (`madde_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kullanim_alanlari`
--

LOCK TABLES `kullanim_alanlari` WRITE;
/*!40000 ALTER TABLE `kullanim_alanlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `kullanim_alanlari` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-18 23:20:06
